<body>



  <ion-content fullscreen class="ion-padding" scroll-y="false">

    <ion-slides pager="true" id="slider" [options]="slideOpts"
    (ionSlideDidChange)="slideChanged()" (ionSlideWillChange)="slideWillChange()">

      <!-- SLIDE 1 -->
      <ion-slide>

        <div>

          <div class="wrapper">
            <img id="slide-0" class="image" src="/../../../assets/img/tutorial/slide-0.png" alt="">
          </div>

          <div>
            <h2>Welcome to your own personal budget planner!</h2>
            <p>
              <strong>Swipe left</strong> to continue...
            </p>
          </div>


        </div>

      </ion-slide>


      <!-- SLIDE 2 -->
      <ion-slide>

        <div>
          <div class="wrapper">
            <img id="slide-1" class="image" src="/../../../assets/img/tutorial/slide-0.png" alt="">
          </div>

          <div>
            <h2>Track where your funds go!</h2>
            <p>
              Add records of your personal expenses and sources of income.
            </p>
          </div>
        </div>

      </ion-slide>

      <!-- SLIDE 3 -->
      <ion-slide>

        <div>
          <div class="wrapper">
            <img id="slide-2" class="image" src="/../../../assets/img/tutorial/slide-0.png" alt="">
          </div>

          <div>
            <h2>No need to type repeatedly!</h2>
            <p>
              Use templates to your advantage and add daily expenses at once.
            </p>
          </div>
        </div>

      </ion-slide>

      <!-- SLIDE 4 -->
      <ion-slide>

        <div>
          <div class="wrapper">
            <img id="slide-3" class="image" src="/../../../assets/img/tutorial/slide-0.png" alt="">
          </div>

          <div>
            <h2>Reflect on your results!</h2>
            <p>
              The summary feature could provide some insights on what you spend the most for a selected month.
            </p>
          </div>
        </div>

      </ion-slide>

      <!-- SLIDE 5 -->
      <ion-slide>

        <div>
          <div class="wrapper">
            <img id="slide-4" class="image" src="/../../../assets/img/tutorial/slide-0.png" alt="">
          </div>

          <div>
            <h2>Hopefully inspire you to save more!</h2>
            <p>
              There's no small or huge value in saving money. Every penny counts, and might also change your spending
              habits for the better!
            </p>
          </div>
        </div>

      </ion-slide>

      <!-- SLIDE 6 -->
      <ion-slide>

        <div>
          <div class="wrapper">
            <img id="slide-5" class="image" src="/../../../assets/img/tutorial/slide-0.png" alt="">
          </div>

          <div>
            <h2>Start your journey!</h2>
            <ion-button fill="clear" color="primary" class="ion-text-capitalize" href="/">
              Continue <ion-icon name="arrow-forward" slot="end"></ion-icon>
            </ion-button>
          </div>
        </div>

      </ion-slide>






    </ion-slides>

  </ion-content>

</body>