<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      About
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4" size-md="2" offset-md="5">
        <ion-img src="../../../assets/img/icon.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center">
    <h1>Budget Planner</h1>
    <small>v{{ global.version }}</small>
    <br>


    <ion-text color="medium">
      <p>
        A very simple budget planner and tracker application made for students to track their expenses.
      </p>
      <p>
        Developed by NoBS.
      </p>
    </ion-text>

  </div>







</ion-content>

<ion-footer class="ion-no-border">
  <p class="ion-text-center">
    <ion-text color="medium">
      Powered by Ionic <ion-icon name="logo-ionic"></ion-icon>
    </ion-text>
  </p>
</ion-footer>