<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Summary Allowance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-grid class="">
        <ion-row>
          <ion-col>
            <ion-card-title>Top 10 Income</ion-card-title>
            <ion-card-subtitle>Same Names are Added (Amount)</ion-card-subtitle>
          </ion-col>
          <ion-col size="auto">
            <ion-button (click)="showChart = !showChart" fill="clear" [disabled]="topAllowances.length <= 0">
              <ion-icon name="pie-chart-outline" slot="icon-only" *ngIf="!showChart"></ion-icon>
              <ion-icon name="list-outline" slot="icon-only" *ngIf="showChart"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      

    </ion-card-header>

    <ion-card-content>

      <ng-container *ngIf="!showChart">

        <div *ngIf="topAllowances.length > 0">
          <ion-list>
            <ion-item *ngFor="let al of topAllowances; let i = index;">
              <ion-label item-left>{{i + 1}}. {{ al.name }}</ion-label>
              <ion-label item-right class="ion-text-right">{{ al.amount }} PHP</ion-label>
            </ion-item>
          </ion-list>
        </div>

        <div *ngIf="topAllowances.length <= 0">
          <ion-text color="medium">No Data for Expenses.</ion-text>
        </div>
      </ng-container>



      <div [class.ion-hide]="!showChart">

        <canvas #pieCanvas>
        </canvas>

      </div>


    </ion-card-content>

  </ion-card>

</ion-content>