.calendar {
  --ion-grid-columns: 7;
}

.calendar-wrapper {
  border: 1px solid var(--ion-color-medium);
}

.calendar-weekend {
  color: var(--ion-color-danger);
}

.offset-cell-style {
  border-color: var(--ion-color-light) !important;
}

.cell-style {
  border-color: var(--ion-color-medium);
  border-width: 1px;
  border-style: solid;

  //size-xs
  @media (min-width: 0px) {
    ion-item > ion-label {
      font-size: 0.6rem;
    }
  }

  //size-sm
  @media (min-width: 576px) {
    ion-item > ion-label {
      font-size: 0.8rem;
    }
  }

  //size-md
  @media (min-width: 768px) {
    ion-item > ion-label {
      font-size: 1rem;
    }
  }
}

.active-day {
  border: 1px solid var(--ion-color-secondary) !important;
  
}
